<div class="character{{ isCurrent ? ' _cur' }}{{ character.lore ? ' _hasLore' }}" character-id="{{ character.id }}" character-elem="main" character-editable="{{ editable ? 1 : 0 }}">
    <div class="character_card">
        <img class="avatar" src="https://render-eu.worldofwarcraft.com/character/{{ character.thumbnail }}" alt="Аватара для персонажа {{ character.name }}" width="80" height="80">
        <p class="character_name">{{ character.name }}</p>
        <p class="character_info">
            <span class="character_class-{{ character.class }}">{{ character.classname }}</span>
            <span class="character_level">[{{ character.level }}]</span>
        </p>
        <div class="character_actions">
            {% if editable %}
                <a href="javascript:void(0);" class="character_action-select" title="Сделать основным" character-action="select"></a>
            {% endif %}
            {% if character.lore or editable %}
                <a href="javascript:void(0);" class="character_action-lore" title="История персонажа" character-action="lore"></a>
            {% endif %}
        </div>
    </div>
</div>