<header class="head">
    <div class="wrapper">
        <img class="head_logo" src="/pics/logo.png" alt="Гномреганцы. Гильдия гномов на сервере Ясеневый Лес (EU)">
        <nav class="menu">
            {% for menuItem in menu %}
                <a href="{{ menuItem.url }}" class="menu_item{{ menuItem.isCurrent ? ' _cur' }}">{{ menuItem.title }}</a>
            {% endfor %}
        </nav>
        {% if user %}
            <a href="javascript:void(0);" class="head_profile" menu-action="profile">
                {% if user.Character %}
                    <img class="avatar" src="https://render-eu.worldofwarcraft.com/character/{{ user.Character.thumbnail }}" alt="Настройки">
                {% else %}
                    <img class="avatar" src="/pics/login.png" alt="Настройки">
                {% endif %}
            </a>
            <div class="menuProfile h" menu-elem="profile">
                <p class="menuProfile_name">{{ user.Character ? user.Character.name : 'У вас нет гномреганца' }}</p>
                <div class="menuProfile_actions">
                    <a href="/profile/" class="menuProfile_action">Мои персонажи</a>
                    <a href="/logout/" class="menuProfile_action-exit">Выход</a>
                </div>
            </div>
        {% else %}
            <a href="/auth/" class="head_profile"><img class="avatar" src="/pics/login.png" alt="Войти"></a>
        {% endif %}
    </div>
</header>